

{{!-- {{#each model as |image|}}
      {{#link-to 'portfolio.full-size' image.id}}<img class="gallery-image lazyload"src="{{image.url}}" alt="{{image.title}}" title="{{image.title}}" id="{{image.id}}">{{/link-to}}
      
      
    {{/each}} --}}
<div>I'm full sized
  <img class="" src="{{model.url}}" alt="{{model.title}}" title="{{model.title}}" id="{{model.id}}">
</div>



{{outlet}}
