 <section class="portfolio">
 
  <div class="image-gallery" id="image-gallery-scroll">
      {{#each model as |image|}}   
        <div class="gallery-image-wrapper">
          {{#link-to 'portfolio.show' image.id}}
            <img class="gallery-image lazyload" src="{{image.url}}" alt="{{image.title}}" title="{{image.title}}" id="{{image.id}}" data-photo-id="{{image.id}}">
          {{/link-to}}
        </div>
      {{/each}}
    </div>

 </section>