{{!-- <div style="height:100%;width:100%;background:black;">hey hey</div> --}}

<div class="show-wrapper">
  <img class="full-size-image" src="{{model.url}}" alt="{{model.title}}" title="{{model.title}}" id="{{model.id}}">
</div>

{{outlet}}
