<section class="portfolio">
  <div class="image-gallery">
      {{#each model as |image|}}   
        <div class="image-wrapper">
          {{#link-to 'view-full-size' 'portfolio' image.id}}
          <img class="gallery-image lazyload"src="{{image.url}}" alt="{{image.title}}" title="{{image.title}}" id="{{image.id}}">
            {{/link-to}}
        </div>
      {{/each}}
    </div>
    
  {{outlet}}

</section>
